@ins-red: #7c1d1b;
@ins-gold: #d5a952;
@ins-serif: 'Alike', serif;

@ins-card-width: 280px;
@ins-card-height: 433px;
@ins-card-color: #fff;
@ins-card-bg: @ins-red;
@ins-card-action-color: @ins-card-bg;
@ins-card-action-bg: @ins-card-color;
@ins-card-action-bg-hover: lighten(#d5a952, 25%);

.page-template-installation-page {
  font-size: 16px;
  #header-bg {
    padding-top: 0;
    .inner {
      .page-header {
        padding-top: 250px;
      }
    }
  }
  #testimonials {
    background-color: inherit;
    background-image: none;
    color: inherit;
    .author {
      color: inherit;
    }
  }
}

.page-header-caption {
  background-color: rgba(255,255,255,.8);
  font-weight: 700;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  .page-header-caption-title {
    color: @ins-red;
    font-family: @ins-serif;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #333;
    margin-top: 0;
  }
  ul {
    padding: 0;
    font-size: 18px;
    li {
      display: inline-block;
      &:before {
        content: "•";
        display: inline-block;
        margin-right: 6px;
      }
    }
  }
}

.ins-card {
  display: block;
  position: relative;
  color: @ins-card-color;
  background-color: @ins-card-bg;
  max-width: @ins-card-width;
  min-height: @ins-card-height;
  margin: 0 auto 15px;
  &-media {
    display: block;
    position: relative;
    > img,
    > a > img  {
      width: 100%;
      height: auto;
    }
    &-caption {
      position: absolute;
      z-index: 10;
      left: 15px;
      bottom: 15px;
      right: 15px;
    }
    &:after {
      content: " ";
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: .33s background-color linear;
      background-color: rgba(124,29,27,0);
    }
  }
  &-title {
    font-family: 'Alike',serif;
    font-weight: 700;
    font-size: 32px;
    color: @ins-card-color;
    font-variant: small-caps;
    text-shadow: 0 0 15px #000;
    margin: 0;
  }
  &-body {
    padding: 15px 15px 68px;
  }
  &-action {
    font-size: 18px;
    font-weight: 700;
    color: @ins-card-action-color;
    font-variant: small-caps;
    background-color: @ins-card-action-bg;
    width: 100%;
    border: 0;
    transition: .33s background-color linear;
    &:hover,
    &:focus {
      color: @ins-card-action-color;
      background-color: @ins-card-action-bg-hover;
    }
    &:active,
    &:active:hover,
    &:active:focus {
      color: @ins-card-action-color;
      background-color: darken(@ins-card-action-bg-hover, 25%);
    }
    &:after {
      content: ">";
      display: inline-block;
      margin-left: 5px;
    }
  }
  > .ins-card-action {
    position: absolute;
    width: auto;
    bottom: 15px;
    left: 15px;
    right: 15px;
  }
  // Hover state
  &:hover,
  &:focus,
  &:active {
    .ins-card-media:after {
      background-color: rgba(124,29,27,.5);
    }
  }
}

// Chevron for points
.ins-chevron {
  display: block;
  position: relative;
  background-color: @ins-card-bg;
  border-top: 5px solid @ins-card-color;
  border-bottom: 5px solid @ins-card-color;
  font-size: 12px;
  color: @ins-card-color;
  text-align: center;
  width: 160px;
  min-height: 165px;
  margin: 0 auto;
  float: left;
  background-image: url(../img/bg-ins-chevron-right.png);
  background-repeat: no-repeat;
  background-position: right -5px;
  background-size: auto 165px;

  &:first-child {
    border-left: 5px solid @ins-card-color;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 180px;
    .ins-chevron-inner {
      width: 145px;
    }
  }
  &:last-child {
    border-right: 5px solid @ins-card-color;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: none;
  }

  &-inner {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 135px;
  }
  &-title {
    color: @ins-card-color;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }
  &-body {
    // color: @ins-card-color;
    // font-size: 18px;
    // text-align: center;
    margin: 0;
  }
}

@media (max-width: 991px) {
  .ins-chevron {
    width: auto;
    float: none;
    background-image: none;
    border: 0;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    min-height: 140px;
  }
  .ins-chevron .ins-chevron-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .ins-chevron:first-child {
    border-top: 5px solid #fff;
    width: auto;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .ins-chevron:last-child {
    min-height: 190px;
    border-bottom: 5px solid #fff;
    width: auto;
    border-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .ins-chevron:after,
  .ins-chevron:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50%;
    bottom: 10px;
    height: 5px;
    background-color: #fff;
    z-index: 10;
  }
  .ins-chevron:before {
    -webkit-transform: skew(0deg, 20deg);
    -moz-transform: skew(0deg, 11deg);
    -ms-transform: skew(0deg, 11deg);
    -o-transform: skew(0deg, 11deg);
    transform: skew(0deg, 11deg);
  }
  .ins-chevron:after {
    right: 0;
    -webkit-transform: skew(0deg, -11deg);
    -moz-transform: skew(0deg, -11deg);
    -ms-transform: skew(0deg, -11deg);
    -o-transform: skew(0deg, -11deg);
    transform: skew(0deg, -11deg);
  }
  .ins-chevron:last-child:before,
  .ins-chevron:last-child:after {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ins-chevron {
    width: 130px;
    &-inner {
      width: 100px;
    }
    &-title {
      font-size: 15px;
    }
  }
  .ins-chevron:first-child {
    width: 150px;
    .ins-chevron-inner {
      width: 110px;
    }
  }
}

// Other styles

.ins-galleries {
  .container {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .col-sm-6 {
    @media (min-width: 480px) and (max-width: 767px) {
      width: 50%;
      float: left;
    }
  }
}

.ins-points {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &-title {
    font-size: 48px;
    margin-bottom: 30px;
  }
}

.list-2-col {
  overflow: hidden;
  padding-left: 20px;
  > li {
    width: 50%;
    float: left;
  }
}
.bg-img-wood-grain {
  background:
    linear-gradient(rgba(73,59,56,0.7),
    rgba(73,59,56,0.7)),
    url(/wp-content/themes/kimminau/img/bg-services.jpg) no-repeat;
  background-size: cover;
}
.text-white {
  color: #fff;
}
.text-gold {
  color: @ins-gold;
}
.text-red {
  color: @ins-red;
}
.text-bold {
  font-weight: 700;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 18px;
}
.text-serif {
  font-family: 'Alike', serif;
}
.text-shadow {
  text-shadow: 0 0 15px #000;
}
.text-small-caps  {
  font-variant: small-caps;
}
.bg-white-transparent {
  background-color: rgba(255,255,255,.8);
}

.no-margin {
  padding: 0;
}

#contact-form {
  select {
    color: #333;
    margin-left: 5px;
  }
}

#swipebox-overlay {
  z-index: 1000001 !important;
}
