@import "bootstrap.less";
@import "variables.less";
@import "mixins/grid.less";
@import "installation.less";

@import url('https://fonts.googleapis.com/css?family=Alike|Roboto:400,700');

* {
}

body {
padding-bottom: 0;
font-family: 'Roboto', sans-serif;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td, #wp-calendar>thead>tr>th, #wp-calendar>tbody>tr>th, #wp-calendar>tfoot>tr>th, #wp-calendar>thead>tr>td, #wp-calendar>tbody>tr>td, #wp-calendar>tfoot>tr>td, table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
	border-top: none;
}

h1, h1.page-header {
	font-size: 38px;
	color: #7c1d1b;
	font-family: 'Alike', serif;
	font-weight: 700;
	border: 0 !important;
	margin-top: 0;
	margin-bottom: 15px;
	padding-bottom: 0;
}

h2 {
	font-size: 26px;
	color: #1c1c1c;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
}

p {
	line-height: 1.5em;
}

a {
	color: #861a1b;
}

.page-header {
	border-bottom: none;
}

.inner {
	max-width: 1306px;
	margin: 0 auto;
	display: block;
}

.alignright, .alignleft {
	max-width: 100%;
	height: auto;
}

.border {
		width: 100%;
		height: 7px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7b512d+0,f8e784+24,c69e3f+50,f8e784+77,7b512d+100 */
		background: #7b512d; /* Old browsers */
		background: -moz-linear-gradient(left, #7b512d 0%, #f8e784 24%, #c69e3f 50%, #f8e784 77%, #7b512d 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #7b512d 0%,#f8e784 24%,#c69e3f 50%,#f8e784 77%,#7b512d 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #7b512d 0%,#f8e784 24%,#c69e3f 50%,#f8e784 77%,#7b512d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b512d', endColorstr='#7b512d',GradientType=1 ); /* IE6-9 */
		@media(max-width: @screen-sm)  {
				height: 3px;
		}
		&.mobile-border {
			display: none;
			@media(max-width: @screen-sm)  {
				display: block;
			}
		}
}

#main-header {
	position: relative;
	#header-mobile {
		@media(max-width: @screen-sm)  {
				position: fixed;
				background: #fff;
				width: 100%;
				z-index: 99999999997;
				.border {
					display: none;
				}
				top: 0;
		}
		#header-top {
			padding-top: 35px;
			padding-bottom: 8px;
			@media(max-width: 1021px) {
				padding-top: 15px;
			}
			@media(max-width: @screen-sm)  {
				padding: 40px 15px;
			}
			#header-phone {
				float: right;
				font-size: 27px;
				color: #7c1d1b;
				font-family: 'Alike', serif;
				text-align: right;
				position: relative;
				z-index: 100000;
				br {
					display: none;
					@media(max-width: 1021px) {
						display: initial;
					}
				}
				@media(max-width: @screen-sm)  {
					display: none;
				}
			}
			#mobile-phone {
				display: none;
				@media(max-width: @screen-sm)  {
					display: block;
					background: #771d1d;
					padding: 7px 0;
					width: 100%;
					max-width: 120px;
					font-size: 22px;
					color: #fff;
					text-align: center;
					position: absolute;
					top: 20px;
					right: 15px;
					float: none;
				}
			}
		}
		#header-bottom {
			background: #f5f5f5;
			padding: 10px 0px;
			@media(max-width: @screen-sm)  {
				background: none;
				padding: 0;
			}
		}
	}
	#logo-container {
		position: absolute;
		top: 10px;
		width: 100%;
		z-index: 1;
		#header-logo {
			position: relative;
			z-index: 100000;
			img {
				max-width: 248px;
				@media(max-width: @screen-sm)  {
					margin: 0 auto;
					display: block;
					margin-top: 15px;
				}
			}
		}
	}
}
#hero {
	position: relative;
	@media(max-width: @screen-sm)  {
		display: none;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	#caption-row {
		position: absolute;
		max-width: 1306px;
		left: 0;
		right: 0;
		bottom: 8%;
		margin: 0 auto;
	}
	#hero-caption {
		color: #fff;
		font-size: 64px;
		font-family: 'Alike', serif;
		letter-spacing: .04em;
		text-transform: capitalize;
		line-height: 1em;
		text-align: center;
		text-shadow: 0px 0px 7px #202020;
		font-weight: 400;
		max-width: 700px;
		font-variant: small-caps;
		float: right;
		.button {
			font-family: 'Roboto', sans-serif;
			font-size: 17px;
			background: #7c1d1b;
			padding: 12px 10px;
			width: 100%;
			max-width: 215px;
			margin: 0 auto;
			display: block;
			color: #fff;
			line-height: 1em;
			letter-spacing: 0;
			text-shadow: 0 0 0 #000;
			margin-top: 20px;
			box-shadow: 0px 0px 4px #202020;
			text-transform: uppercase;
		}
	}
}

#funnel-container {
	background: url("/wp-content/themes/kimminau/img/bg-services.jpg") no-repeat;
	background-size: cover;
	@media(max-width: @screen-sm)  {
		margin-top: 83px;
	}
	.inner {
		padding: 60px 0;
		overflow: hidden;
		@media(max-width: @screen-sm)  {
			padding-bottom: 10px;
		}
		#funnel {
			@media(max-width: @screen-sm)  {
				display: none;
			}
			.service {
				color: #fff;
				img {
					display: block;
					border: 7px solid #fff;
					margin-bottom: 20px;
				}
				h2 {
					color: #fff;
					font-family: 'Alike', serif;
					font-size: 35px;
					font-weight: 400 !important;
					letter-spacing: .03em;
					font-variant: small-caps;
				}
				p {
					line-height: 1.5em;
				}
				.button {
					color: #fff;
					background: #7c1d1b;
					display: block;
					width: 125px;
					padding: 10px;
					text-transform: uppercase;
					text-align: center;
					font-weight: 700;
					letter-spacing: .03em;
					box-shadow: 0 0 5px #000;
				}
			}
		}
		#mobile-funnel {
			width: 100%;
			max-width: 340px;
			margin: 0 auto;
			display: none;
			@media(max-width: @screen-sm)  {
				display: block;
				margin-top: 180px;
			}
			h2 {
				font-size: 28px;
				text-align: center;
				color: #fff;
				margin-bottom: 20px;
				font-family: 'Alike', serif;
				line-height: 1.4em;
			}
			a {
				display: block;
				background: #771d1d;
				border: 3px solid #fff;
				border-radius: 10px;
				font-size: 32px;
				font-family: 'Alike', serif;
				color: #fff;
				text-align: center;
				box-shadow: 0 0 3px #000;
				font-weight: 400;
				padding: 6px 0;
				margin-bottom: 15px;
				font-variant: small-caps;
				letter-spacing: .03em;
				&:hover {

				}
			}
		}
	}
}

body.home {
	.dmbs-content {
		padding: 0;
		@media(max-width: @screen-sm)  {
			display: none;
		}
	}
}

.dmbs-content {
	padding-top: 25px;
	padding-bottom: 25px;
	#content {
		.inner {
			width: 100%;
			max-width: 761px;
			float: left;
			padding: 50px 30px;
		}
	}
}

#header-bg {
		padding-top: 250px;
		padding-left: 15px;
		background-size: cover;
		h1.page-header {
			color: #fff;
			font-variant: small-caps;
			text-shadow: 0 0 15px #000;
			font-weight: 700;
			letter-spacing: .06em;
			font-size: 60px;
			padding-left: 3px;
			@media(max-width: @screen-sm)  {
				font-size: 40px;
			}
			@media(max-width: 480px)  {
				font-size: 30px;
			}
		}
		@media(max-width: @screen-sm)  {
			margin-top: 83px;
		}

	}

#home-featured {
	padding: 0;
	max-height: 900px;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

#content {
	.left {
		height: 175px;
	}
	.right {
		h2 {
			margin-top: 0;
			border-bottom: 0;
			margin-bottom: 5px;
		}
	}
}

.page-template-clean-coat-page {
	#content {
		h2 {
			color: #7b1d1f;
			font-size: 38px;
			font-family: 'Alike', serif;
		}
		h3 {
			font-weight: 700;
		}
	}
}

#gallery-section {
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	#desktop-gallery {
		@media(max-width: @screen-sm)  {
			display: none;
		}
	}
	#mobile-gallery {
		display: none;
		@media(max-width: @screen-sm)  {
			display: block;
			background: url(/wp-content/themes/kimminau/img/wood-floor-gallery.jpg) no-repeat;
			background-size: cover;
			padding: 40% 0 5% 0;
			a.button {
				background: rgba(64, 64, 64, 0.40);
    			padding: 5px 0;
    			width: 225px;
    			text-algin: center;
    			font-family: 'Alike', serif;
	 			font-variant: small-caps;
	 			margin: 0 auto;
	 			font-style: normal;
	 			color: #fff;
	 			font-size: 20px;
	 			border: 2px solid #fff;
	 			border-radius: 10px;
	 			box-shadow: 0px 3px 5px #000;
	 			display: none;
	 			text-align: center;
	 			@media(max-width: @screen-sm)  {
	 				display: block;
	 			}
	 			&:hover {
	 				text-decoration: none;
	 				background: rgba(64, 64, 64, 0.70);
	 			}
			}
		}
	}
}

#right-sidebar {
	.widget {
		h3 {
			color: #7c1d1b;
			font-family: 'Alike', serif;
	 		letter-spacing: .05em;
	 		font-variant: small-caps;
	 		font-weight: 700;
	 		font-size: 24px;
		}
		ul {
			list-style-type: none;
			padding: 0;
			li {
				margin-bottom: 5px;
				font-size: 18px;
				a {
					color: #cca767;
				}
			}
		}
		img {
			display: block;
			width: 100%;
			height: auto;
			max-width: 330px !important;
			margin: 0 auto 15px auto;
		}
	}
}

#cleaning-section {
	background: #f5f5f5;
	padding-top: 35px;
	padding-bottom: 35px;
	#cleaning {
		.row {
			margin-bottom: 15px;
		}
		h3 {
			color: #7b1d1f;
			font-weight: 700;
		}
		img {
			width: 100%;
			height: auto;
			display: block;
			max-width: 330px !important;
			margin: 0 auto;
		}
	}
	.maintenance {
		img {
			display: block;
			width: 100%;
			height: auto;
			max-width: 330px !important;
			margin: 0 auto;
		}
	}
}

#testimonials {
	background: linear-gradient(
    rgba(124, 29, 27, 0.90),
    rgba(124, 29, 27, 0.90)
	), url("/wp-content/themes/kimminau/img/bg-testimonials.jpg") no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	padding: 90px 10px;
	line-height: 1.5em;
	font-style: italic;
    .author {
    	color: #fff;
    	padding: 20px 0 0 0;
    	text-align: center;
    	text-transform: uppercase;
    	font-family: 'Alike', serif;
    	font-weight: 400;
    	font-size: 24px;
    	font-style: normal;
    }
    a.button {
    	background: rgba(105, 27, 25, 0.20);
    	padding: 5px 0;
    	width: 225px;
    	text-algin: center;
    	font-family: 'Alike', serif;
	 	font-variant: small-caps;
	 	margin: 0 auto;
	 	font-style: normal;
	 	color: #fff;
	 	font-size: 20px;
	 	border: 2px solid #fff;
	 	border-radius: 10px;
	 	box-shadow: 0px 3px 5px #000;
	 	display: none;
	 	@media(max-width: @screen-sm)  {
	 		display: block;
	 	}
	 	&:hover {
	 		text-decoration: none;
	 		background: rgba(105, 27, 25, 0.65);
	 	}
    }
}

#contact-form {
	background: linear-gradient(
    rgba(124, 29, 27, 0.90),
    rgba(124, 29, 27, 0.90)
	), url("/wp-content/themes/kimminau/img/bg-testimonials.jpg") no-repeat;
	background-size: cover;
	padding: 35px 10px;
	color: #fff;
	.inner {
		max-width: 800px;
		@media(max-width: @screen-sm)  {
			max-width: 400px;
		}
	}
	h2 {
		text-align: center;
		color: #fff;
		margin-bottom: 20px;
	 	font-family: 'Alike', serif;
	 	font-size: 38px;
	 	letter-spacing: .05em;
	 	font-variant: small-caps;
	 	font-weight: 700;
	}
	.col-xs-4, .col-xs-6, .col-xs-12 {
		padding-right: 6px;
		padding-left: 6px;
	}
	input {
			display: block;
			width: 100%;
			font-size: 16px;
			padding: 6px;
			margin-bottom: 12px;
			margin-top: 5px;
			color: #1b1b1b;
		}
		textarea {
			display: block;
			width: 100%;
			font-size: 16px;
			padding: 8px;
			margin-bottom: 12px;
			max-height: 80px;
			color: #1b1b1b;
		}
		#captcha {
			float: none;
			max-width: 280px;
			margin: 0 auto;
			overflow: hidden;
			input {
				width: 58%;
				margin: 0 1% 15px 1%;
				float: left;
			}
			.wpcf7-captchac {
				width: 38%;
				float: left;
				display: block;
				margin: 0 1% 5px 1%;
				height: 38px;
			}
		}
		input[type="submit"] {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5a952+0,efe181+24,efe181+50,efe181+78,d5a952+100 */
background: #d5a952; /* Old browsers */
background: -moz-linear-gradient(top, #d5a952 0%, #efe181 24%, #efe181 50%, #efe181 78%, #d5a952 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d5a952 0%,#efe181 24%,#efe181 50%,#efe181 78%,#d5a952 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d5a952 0%,#efe181 24%,#efe181 50%,#efe181 78%,#d5a952 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5a952', endColorstr='#d5a952',GradientType=0 ); /* IE6-9 */
				color: #7c1d1b;
				border-radius: 0px;
				max-width: 200px;
				margin: 0 auto;
				display: block;
				border: none;
				font-family: 'Alike', serif;
				font-size: 20px;
				font-weight: 700;
				padding: 12px;
		}
}

#searchform #searchsubmit {
	background: #771d1d;
}

#blog-feed-container {
	background: url("/wp-content/themes/kimminau/img/bg-blog-home.jpg") no-repeat;
	background-size: cover;
	.inner {
		padding: 50px 0;
		max-width: 1200px;
		@media(max-width: @screen-sm)  {
			max-width: 500px;
		}
		h2 {
			font-family: 'Alike', serif;
			color: #7f1c1b;
			font-size: 37px;
			text-align: center;
			font-weight: 700;
			margin-bottom: 35px;
			font-variant: small-caps;
		}
		#news {
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				overflow: hidden;
				li {
					padding: 0 20px;
					margin: 0;
					@media(max-width: @screen-sm)  {
						&:last-of-type {
							display: none;
						}
					}
					.inner {
						padding-top: 38%;
						padding-bottom: 0;
						background-size: cover;
						.shade {
							background: rgba(0,0,0,.7);
							padding: 20px 35px;
							h3 {
								margin: 0;
								padding: 0;
								text-align: center;
								font-size: 30px;
								line-height: 1.4em;
								text-transform: uppercase;
								min-height: 2.8em;
								max-height: 2.8em;
								overflow: hidden;
								a {
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}

#our-mission {
	background: linear-gradient(
    rgba(56, 43, 40, 0.95),
    rgba(56, 43, 40, 0.95)
	), url("/wp-content/themes/kimminau/img/bg-mission.jpg") no-repeat;
	text-align: center;
	font-size: 20px;
	color: #fff;
	padding: 45px 0;
	background-size: cover;
	h2 {
		font-size: 38px;
		color: #cba445;
		font-family: 'Alike',serif;
		display: block;
		background: url("/wp-content/themes/kimminau/img/bg-mission-header.png") repeat-x;
		background-position: left center;
		span {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 220px;
		}
	}
}

#main-footer {
	background: linear-gradient(
    rgba(73, 59, 56, 0.70),
    rgba(73, 59, 56, 0.70)
	), url("/wp-content/themes/kimminau/img/bg-services.jpg") no-repeat;
	background-size: cover;
	.inner {
		overflow: hidden;
		color: #fff;
		padding: 30px 10px;
		max-width: 910px;
		#footer-logo {
			border-right: 1px solid #cca767;
			padding-right: 25px;
			@media(max-width: @screen-sm)  {
				max-width: 250px;
				margin: 0 auto;
				float: none;
				border-right: none;
			}
			img {
				width: 100%;
				max-width: 180px;
				margin: 0 auto;
				height: auto;
				display: block;
			}
			phone {
				color: #cca766;
				font-size: 24px;
				font-weight: 400;
				text-align: center;
				margin-top: 10px;
				display: block;
				letter-spacing: .04em;
				@media(max-width: @screen-sm)  {
					margin-top: 3px;
				}
				a {
					color: #cca766;
				}
			}
		}
		#footer-cities {
			padding-left: 25px;
			font-weight: 400;
			letter-spacing: .087em;
			text-align: center;
			color: #fff;
			font-size: 11px;
			padding-top: 35px;
			font-family: 'Roboto', sans-serif;
			span {
				color: #cca767;
				font-family: 'Alike', serif;
				font-size: 16px;
				font-variant: small-caps;
				margin-bottom: 5px;
				line-height: 1.3em;
				display: block;
				@media(max-width: @screen-sm)  {
					font-size: 18px;
				}
			}
			img {
				display: block;
				margin: 0 auto;
			}
			a {
				font-weight: 700;
				color: #fff;
			}
			ul {
				margin: 0;
				padding: 0;
				overflow: hidden;
				display: block;
				list-style-type: none;
				padding-bottom: 15px;
				@media(max-width: @screen-sm)  {
					max-width: 290px;
					margin: 0 auto;
				}
				li {
					float: left;
					display: block;
					margin: 0;
					padding: 0;
					text-align: center;
					margin-right: 2px;
					@media(max-width: @screen-sm)  {
						width: 50%;
						text-align: center;
						margin-right: 0;
					}
					span {
						color: #fff;
						font-family: inherit;
						font-size: 11px;
						margin-bottom: 0;
						line-height: 1.3em;
						display: initial;
						@media(max-width: @screen-sm)  {
							display: none;
						}
					}
				}
			}
		}
	}
	#footer-right {
		padding-left: 25px;
		@media(max-width: @screen-sm)  {
			max-width: 460px;
			margin: 0 auto 0 auto;
			float: none;
			padding-top: 20px;
			overflow: hidden;
		}
		#logo-bbb {
			width: 40%;
			float: left;
			padding: 0 6%;
			@media(max-width: @screen-sm)  {
				width: 20%;
				padding: 0 5.5%;
			}
		}
		#logo-nari {
			width: 60%;
			float: left;
			padding: 0 4%;
			@media(max-width: @screen-sm)  {
				width: 25%;
			}
		}
		#logo-nwfa {
			width: 100%;
			float: none;
			clear: both;
			padding: 15px 4% 0 4%;
			@media(max-width: @screen-sm)  {
				clear: none;
				float: left;
				padding: 0 4%;
				width: 55%;
			}
		}
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
			height: auto;
		}
	}
	#copyright {
		color: #fff;
		background: #322825;
		padding: 15px;
		line-height: 1.4em;
		text-align: center;
		font-size: 12px;
		a {
			color: #fff;
		}
	}
}

// offtop
.offtop {
	position: fixed;
	z-index: 10000;
	@media(max-width: 767px) {
		position: initial;
	}
	#header-logo {
			padding-top: 15px !important;
	}
	#header-phone-container {
		display: none;
	}
}
// hide home

// re-expose home

// icons

// feature

// estimate

// grid

// affordability

// structure: home


// content: home

// content: secondary


// show less

// hero

// blog

// testimonials

// footer - top

// footer

// content - secondary

// blog

// posts

// Nav Styles

.nav-container {
	max-width: 465px;
	float: right;
	position: relative;
	z-index: 1000000;
	@media(max-width: @screen-sm)  {
		max-width: 100%;
		float: none;
		padding: 0 !important;
	}
	#nav {
		@media(max-width: @screen-sm)  {
			&:before {
				content: '\2630';
				display: block;
				position: fixed;
				top: 20px;
				left: 15px;
				z-index: 99999999998;
				font-size: 32px;
				color: #762029;
			}
		}
		&.open {
			@media(max-width: @screen-sm)  {
				&:before {
					content: 'X';
				}
			}
			ul {
				@media(max-width: @screen-sm)  {
					display: block;
					li {
						float: none;
						width: 100%;
						a {
							display: block;
							width: 100%;
							background: #771d1d;
							color: #fff;
							font-size: 22px;
							text-transform: uppercase;
							border-bottom: 1px solid #5c0605;
							text-align: center;
							padding: 7px 0 !important;
							&:hover {
								background: #912626;
								color: #fff;
							}
						}
						ul.sub-menu {
							width: 100% !important;
							position: relative !important;
							left: initial !important;
							margin: 0 !important;
							padding: 0 !important;
							a {
								background: #65191b !important;
								&:hover {
									background: #771e21 !important;
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
		ul {
			margin: 0;
			padding: 0;
			position: relative;
			list-style-type: none;
			@media(max-width: @screen-sm)  {
				display: none;
			}
			li {
				float: left;
				position: relative;
				a {
					font-size: 18px;
					color: #272727;
					padding: 0 15px;
					&:hover {
						color: #7c1d1b;
						text-decoration: none;
					}
				}
				ul.sub-menu {
					display: none;
				}
				&:hover {
					ul.sub-menu {
						display: block;
						position: absolute;
						left: 0;
						margin: 0;
						width: 230px;
						padding-top: 10px;
						li {
							width: 100%;
							a {
								float: none;
								padding: 3px 15px;
								color: #fff;
								background: #7c1d1b;
								display: block;
								width: 100%;
								&:hover {
									color: #fff;
									background: #ae2c29;
								}
							}
						}
					}
				}
				&.menu-item-1170 {
					a {
						font-size: 0;
						width: 17px;
						height: 25px;
						padding:0;
						background: url("/wp-content/themes/kimminau/img/icon-search.png") no-repeat;
						background-size: contain;
						display: block;
						background-position: center center;
						@media(max-width: @screen-sm)  {
							font-size: 22px;
							background: #771d1d;
							width: auto;
							height: auto;
							padding: 7px 0 !important;
							color: #fff;
						}
					}

				}
			}
		}
	}
}
